$primary-color: #10316b;
$secondary-color-one: #ffe867;
$secondary-color-two: #377fd9;
$secondary-color-three: #00006c;
$accent-color-one: #fef5ac;
$accent-color-two:#83cbfb;
$accent-color-three: #00003c;
$neutral-color-one: #f2f7ff;
$neutral-color-two: #5f6f94;