@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px 60px;
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

.header-section {
  border-bottom: 1.5px solid #000; 
  padding-bottom: 15px;
}